[submodule "3rdparty/softfloat3"]
	path = 3rdparty/softfloat3
	url = https://github.com/ucb-bar/berkeley-softfloat-3.git
[submodule "3rdparty/libslirp"]
	path = 3rdparty/libslirp
	url = https://gitlab.freedesktop.org/slirp/libslirp.git
[submodule "3rdparty/glib"]
	path = 3rdparty/glib
	url = https://gitlab.gnome.org/GNOME/glib.git
